<!DOCTYPE html>
<html lang="en" ng-app="atemApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATEMEmulator | ATEMTallyLights</title>
    <link href="./css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="./js/jquery-3.6.0.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="./js/emulator.js"></script>
</head>
<body class="" ng-controller="atemCtrl">
    <div class="container pt-5 text-center">
        Numero di Input: <input type="number" ng-model="numeroInput" />
        <button class="btn btn-sm btn-primary" ng-click="atem();">Conferma</button>
        <div class="mt-2 alert alert-primary">
            <button ng-repeat="v in channels" class="m-3 btn btn-sm btn-secondary" ng-class="[(prw==v)?'btn-success':'', (prg==v)?'btn-danger':'']" ng-click="preview(v);">{{v}}</button>
        </div>
        <button class="mt-2 btn btn-sm btn-primary" ng-click="cut();">CUT</button>
    </div>
</body>
</html>